.element {
    width: 200px;
    height: 200px;
    background: grey;
    transition:
            width 4s,
            background 1s;
}

.element:hover {
    width: 600px;
    background: deeppink;
}